@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}
@mixin flex-align-center {
  display: flex;
  align-items: center;
}

$gray: #2a2a2a;
$gray2: #777777;
$purple: #6a19f5;
$orange1:#f9523b;
$blue1: #2580c1;
$pink: #ff6d8d;
$yellow1: #fff2d6;
$beige: #dac9a6;

* {
  box-sizing: border-box;
  margin: 0;
}

ol,
ul,
li,
summary {
  list-style: none;
}

body {
  font-family: Work Sans;
}

.header {
  @include flex-justify-center;
  align-items: center;
  margin-bottom: 50px;
}

.menu__list {
  display: flex;
}

.menu__dropdown {
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 60px;
}

.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray;
  margin-right: 60px;
}

.menu__donate {
  background: $orange1;
  border-radius: 5px;
  padding: 15px 40px;
  color: white;
}

.intro {
  @include flex-align-center;
  flex-direction: column;
  height: 510px;
}

.intro__logo {
  height: 400px;
  width: 1270px;
  background-image: url(./img/mathforall.png);
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.intro__slogan {
  font-size: 24px;
}

.roles {
  @include flex-justidy-center;
  display: flex;
  justify-content: center;
  margin-bottom: 74px;
}

.roles__card {
  width: 330px;
  margin-right: 40px;
  padding: 36px;
  border: 1px solid $gray2;
  border-radius: 20px;
  &:hover {
    background-color: $purple;
    color: white;
    cursor: pointer;
  }
}

.title {
  font-size: 32px;
}

.categories__title {
  margin-bottom: 5px;
  width: 460px;
}

.description {
  font-size: 20px;
}

.subscribe__description {
  font-size: 20px;
  margin-bottom: 70px;
  max-width: 590px;
  text-align: center;
}

.categories__description {
  font-size: 20px;
}

.heading {
  font-weight: 600;
  font-size: 52px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.news__heading {
  color: white;
  margin-bottom: 80px;
}

.subscribe__heading {
  margin-bottom: 80px;
}

.faq__heading {
  margin-bottom: 80px;
}

.testimonials__heading {
  margin-bottom: 80px;
}

.categories__heading {
  margin-bottom: 80px;
}

.features__heading {
  margin: 120px 0 60px 0;
  color: white;
}

.features__subheading {
  font-size: 24px;
  margin-bottom: 70px;
  color: white;
}

.cards__container {
  display: flex;
  margin-bottom: 120px;
}

.features {
  background-color: $blue1;
}

.features__wrapper {
  @include flex-align-center;
  flex-direction: column;
}

.features__card {
  @include flex-align-center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 440px;
  padding: 20px;
  background: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 30px;
}

.features__icon1 {
  width: 174px;
  height: 174px;
  background-image: url(./img/home-encouraging-play.png);
}
.features__icon2 {
  width: 178px;
  height: 178px;
  background-image: url(./img/home-building-confidence.png);
}
.features__icon3 {
  width: 236px;
  height: 236px;
  background-image: url(./img/home-including-everyone.png);
}

.features__title {
  margin-bottom: 30px;
}

.news {
  @include flex-justidy-center;
  background-color: $blue1;
  padding: 120px 0;
}

.news__card {
  @include flex-align-center;
  width: 788px;
  padding: 36px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  margin-left: 192px;
}

.news__pic {
  margin-right: 40px;
  width: 300px;
}

.news__headline {
  margin: 16px 0;
}

.news__learnMore {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.news__linkAllNews {
  background: #f6c55a;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 20px 36px;
}

.news__date {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.4;
}

.news__description {
  margin-bottom: 26px;
}

.subscribe__input {
  width: 460px;
  height: 60px;
  border: 1px solid $gray;
  border-radius: 5px;
}

.testimonials__review {
  max-width: 980px;
  line-height: 150%;
  font-size: 24px;
  text-align: center;
  color: $gray;
  margin-bottom: 60px;
}

.testimonials__parentpic {
  margin-bottom: 10px;
}

.testimonials__name {
  font-size: 20px;
}

.testimonials__role {
  margin-top: 5px;
  font-size: 20px;
  opacity: 0.7;
}

.btn1 {
  padding: 20px 54px;
  border: none;
  background: $purple;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  margin-left: 22px;
}

.categories {
  background-color: #5fc8d7;
  padding: 80px 0px;
}

.categories__wrapper {
  @include flex-justidy-center;
}

.categories__card {
  @include flex-align-center;
  justify-content: space-between;
  width: 788px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  padding: 42px 0;
}

.categories__image {
  width: 638px;
  height: 527px;
  margin-left: 50px;
}

.categories__icon1 {
  margin-left: 40px;
  width: 85px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url(./img/triangle-icon.svg);
}

.categories__icon2 {
  margin-left: 40px;
  width: 85px;
  height: 75px;
  background-repeat: no-repeat;
  background-image: url(./img/octa-icon.svg);
}

.categories__icon3 {
  margin-left: 40px;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url(./img/cross-icon.svg);
}

.categories__arrow {
  margin-right: 30px;
  width: 30px;
  height: 60px;
  background-repeat: no-repeat;
  background-image: url(./img/arrow-right.svg);
}

.testimonials {
  @include flex-align-center;
  padding: 100px 0;
  background-color: $pink;
  flex-direction: column;
}

.faq {
  @include flex-align-center;
  padding-top: 200px;
  flex-direction: column;
}

.faq__number {
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
}

.one {
  background-image: url(./img/01.svg);
}

.two {
  background-image: url(./img/02.svg);
}

.three {
  background-image: url(./img/03.svg);
}

.four {
  background-image: url(./img/04.svg);
}

.five {
  background-image: url(./img/05.svg);
}

.six {
  background-image: url(./img/06.svg);
}

details {
  cursor: pointer;
  list-style: none;
}

.spoilerarrow {
  width: 38px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url(./img/arrowfaq.svg);
}

.faq__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}

.faq__card {
  @include flex-align-center;
  justify-content: space-between;
  width: 705px;
  padding: 20px;
  margin: 0 30px 20px 0;
  border: 2px solid $beige;
  border-radius: 20px;
}

details[open] {
  width: 600px;
}

.subscribe {
  @include flex-justidy-center;
  margin-top: 160px;
  padding: 50px 0;
}

.subscribe__image1 {
  height: 350px;
  margin: 80px 30px 0 20px;
}

.subscribe__image2 {
  height: 370px;
  margin: -200px 20px 0 0;
}

.subscribe__container {
  @include flex-align-center;
  flex-direction: column;
}

.footer {
  @include flex-justidy-center;
  background-color: $yellow1;
  padding: 50px 0;
}

.footer__copyright {
  margin-right: 210px;
}

.footer__links {
  margin: 20px 178px 0 0;
}

.footer__links2 {
  margin-top: 20px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__follow {
  margin: 20px 0 0 266px;
  display: flex;
  flex-direction: column;
}

.footer__contact {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.footer__font {
  font-size: 20px;
}

.footer__list > li {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.copyright {
  font-size: 20px;
  opacity: 0.3;
  margin-top: 70px;
}

.footer__icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  margin: 10px;
}

.twitter {
  background-image: url(./img/twitter-ico.svg);
}

.linkedin {
  background-image: url(./img/linkedin-ico.svg);
}

.instagram {
  background-image: url(./img/instagram-ico.svg);
}

.facebook {
  background-image: url(./img/fb-ico.svg);
}

.youtube {
  background-image: url(./img/youtube-ico.svg);
}
